# Method 	Description - Try all on your own
append()	Adds an element at the end of the list \
clear()	Removes all the elements from the list \
copy()	Returns a copy of the list \
count()	Returns the number of elements with the specified value \
extend()	Add the elements of a list (or any iterable), to the end of the current list \
index()	Returns the index of the first element with the specified value \
insert()	Adds an element at the specified position \
pop()	Removes the element at the specified position \
remove()	Removes the item with the specified value \
reverse()	Reverses the order of the list \
sort()	Sorts the list

In [1]:
fruits = ['apple', 'Bannana', 'cherry'] # It is used to store items in a single variable

In [2]:
type(fruits)

list

In [9]:
fruits1 = ('apple', 'Bannana', 'cherry','apple')

In [5]:
fruits[0] = 'orange'

In [6]:
fruits1[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

In [7]:
fruits

['orange', 'Bannana', 'cherry']

In [8]:
fruits1

('apple', 'Bannana', 'cherry')

In [12]:
fruits2 = ('apple',)

In [13]:
type(fruits2)

tuple

In [15]:
#tuple - strings, integers and booleans

In [16]:
owntuple = tuple("apple","bannana","cherry")

TypeError: tuple expected at most 1 argument, got 3

In [17]:
owntuple = tuple(("apple","bannana","cherry"))

In [18]:
type(owntuple)

tuple

In [19]:
owntuple = tuple(("apple","bannana","cherry"),("apple1","bannana2","cherry3"))

TypeError: tuple expected at most 1 argument, got 2

In [20]:
fruits1[0]

'apple'

In [21]:
fruits1[-1]

'apple'

In [23]:
fruits1[-2]

'cherry'

In [24]:
fruits1[1:3]

('Bannana', 'cherry')

In [26]:
fruits1[0:3]

('apple', 'Bannana', 'cherry')

In [27]:
fruits[1:]

['Bannana', 'cherry']

In [28]:
trial = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [29]:
trial[2:]

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [30]:
if 'apple' in fruits1:
    print("apple is in the tuple")

apple is in the tuple

In [31]:
tuple_1 = ("apple", "banana", "cherry")

In [32]:
list_1 = list(tuple_1)

In [33]:
list_1[0] = 'kiwi'

In [34]:
tuple_1 = tuple(list_1)

In [35]:
tuple_1

('kiwi', 'banana', 'cherry')

In [36]:
tuple_2 = trial + tuple_1

In [37]:
tuple_2

('apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'kiwi',
 'banana',
 'cherry')

# Set - Unordered Collection of unique elements --> It won't have duplicate values. \
## {} --> List

Built-In methods - add(), remove(), union()

In [42]:
my_set = {1,2,3,4,3,5}

In [39]:
my_set

{1, 2, 3, 4, 5}

In [40]:
my_set = {1, 'apple',(1,2,3)}

In [41]:
type(my_set[2])

TypeError: 'set' object is not subscriptable

In [43]:
my_set.add(6)

In [44]:
my_set

{1, 2, 3, 4, 5, 6}

In [45]:
my_set_1 = {4,5,6,7}

In [46]:
my_set_2 = my_set.union(my_set_1)

In [47]:
my_set_2

{1, 2, 3, 4, 5, 6, 7}

In [48]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [49]:
set3 = set1.intersection(set2)
print(set3)

{3}

In [50]:
set4 = set1.difference(set2)

In [51]:
set4

{1, 2}

In [52]:
set5 = set2.difference(set1)

In [53]:
set5

{4, 5}

In [54]:
my_list = [1, 2, 3, 3, 4, 5]
my_set = set(my_list)
unique_list = list(my_set)
print(unique_list)

[1, 2, 3, 4, 5]

In [55]:
my_list

[1, 2, 3, 3, 4, 5]

In [56]:
my_set

{1, 2, 3, 4, 5}