In [1]:
print("Good Evening Everyone!")

Good Evening Everyone!

In [2]:
if 3>2:
print("Three is greater than Two")

IndentationError: expected an indented block after 'if' statement on line 1 (1834435101.py, line 2)

In [3]:
# indented
if 3>2:
    print("Three is greater than Two")

Three is greater than Two

In [4]:
""" 
print("Hello World!")---> Dude it's a commment
"""
print("Hello World!")

Hello World!

In [5]:
x = "Hello"

In [6]:
type(x)

str

In [7]:
y = str(123)

In [8]:
type(y)

str

In [9]:
y

'123'

In [10]:
x

'Hello'

NameError: name 'a' is not defined

In [12]:
a = '123' 
b = '456'
c = '789'

In [13]:
x,y,z = a,b,c

In [14]:
x

'123'

In [15]:
x1,y1,z1 = a1,b1,c1

NameError: name 'a1' is not defined

# Global Variables

In [18]:
wish =  'Good Evening'

In [21]:
def myfunc():
    print("Hi Everyone! " + wish)

In [22]:
myfunc()

Hi Everyone! Good Evening

In [17]:
myfunc()

Hi Everyone!

# Data types

In [24]:
comp = 25 + 1j

In [25]:
type(comp)

complex

# BOOLEANS

In [26]:
print(1>2)
print(1==2)
print(1<2)

False
False
True

In [28]:
a = input()
b = input()

if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

124567
005467
b is not greater than a

# Arithmetic Operators

 + Addition
 / division
 % Modulus
 // Floor division

In [29]:
5/2

2.5

In [30]:
5%2

1

In [31]:
5//2

2

In [39]:
j = 3

In [46]:
j

13

In [47]:
j += 5 # j = j+5

In [48]:
j

18

In [49]:
j1 =+ 5

In [50]:
j1

5

In [51]:
j1 =- 5

In [52]:
j1

-5

# LOOP LIST

In [53]:
fruits = ['apple','banna','cherry']

In [54]:
for x in fruits:
    print(x)

apple
banna
cherry

In [55]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banna
cherry

In [56]:
fruits[2]

'cherry'

In [57]:
new_item = "mango"
for x in fruits:
    if "a" in x:
        fruits.append(x)

KeyboardInterrupt:

In [58]:
new_item = "mango"
for x in fruits:
    if "a" in x:
        new_item.append(x)

AttributeError: 'str' object has no attribute 'append'