# Grading System

In [2]:
# Selva - Grading
# Madhan - rank
# Sai - attendance

# Lambda

In [3]:
a = lambda x: x*5 # lambda argument(s): expression

In [4]:
a(5)

25

In [5]:
def f(x):
    return x*5

In [6]:
f(5)

25

# Enumerate

In [10]:
fruits = ["apple","banana", "cherry"]
for i, fruit in enumerate(fruits):
    print(i+1,fruit)

1 apple
2 banana
3 cherry

# Sorted

In [12]:
numbers = [4,2,8,5,3,1,7]
sorted_numbers = sorted(numbers)
print(numbers)
print(sorted_numbers)

[4, 2, 8, 5, 3, 1, 7]
[1, 2, 3, 4, 5, 7, 8]

In [7]:
# Sample input data
marks = {"Language": 80, "English": 95, "Maths": 65, "Social": 92, "Science": 75 }

In [13]:
marks.items()

dict_items([('Language', 80), ('English', 95), ('Maths', 65), ('Social', 92), ('Science', 75)])

In [15]:
sorted_marks = sorted(marks.items(), key=lambda x: x[1],reverse =True)

In [21]:
print("Sorted marks:")
for name, mark in sorted_marks:
    print(name , mark)

Sorted marks:
English 95
Social 92
Language 80
Science 75
Maths 65

In [ ]:
print("Sorted marks:")
for i, (name, mark) in sorted_marks:
    print(i+1, name , mark) # Home Work Number the items

In [18]:
for i, (name,mark) in enumerate(sorted_marks):
    if mark >= 90:
        grade = "A+"
    elif mark >= 80:
        grade = "A"
    elif mark >= 70:
        grade = "B"
    elif mark >= 60:
        grade = "C"
    else:
        grade = "F"
        
        
    print(f"{i+1}. {name} - {grade}")

1. English - A+
2. Social - A+
3. Language - A
4. Science - B
5. Maths - C