In [2]:
expenses = {} # Creating a empty dictionary

In [11]:
# function -  to add a new expense
def add_expense(category, date, amount):
    if category in expenses:
        if date in expenses[category]:
            expenses[category][date].append(amount)
        else:
            expenses[category][date] = [amount]
    else:
        expenses[category] = {date: [amount]}
    print(f'Added expense of rs.{amount} in {category} on {date}.')

In [19]:
add_expense("Food",'2023-03-18', 100)

Added expense of rs.100 in Food on 2023-03-18.

In [29]:
#function - to remove an expense 

def remove_expense(category, date, index):

    if category in expenses and date in expenses[category]:
        if index < len(expenses[category][date]):
            amount = expenses[category][date].pop(index)
            if not expenses[category][date]:
                del expenses[category][date]
            if not expenses[category]:
                del expenses[category]
            print(f"Removed expense of {amount} from {category} category on {date}.")
        else:
            print("Invalid expense index.")
    else:
        print("Expense not found.")

In [39]:
# function - display 
def display_expense():
    if not expenses:
        print('No expenses found.')
    else:
        for category in expenses:
            print(f'{category}:')
            for date in expenses[category]:
                print(f'\t{date}: {expenses[category][date]}')

In [24]:
remove_expense("Food","2023-03-18", 100)

Expense not found for Food category on 2023-03-18.

In [28]:
a = [1,2,3]
len(a)

3

In [26]:
add_expense("Food", "2022-01-01", 10.5)
add_expense("Transportation", "2022-01-01", 5.0)
add_expense("Food", "2022-01-02", 8.75)

Added expense of rs.10.5 in Food on 2022-01-01.
Added expense of rs.5.0 in Transportation on 2022-01-01.
Added expense of rs.8.75 in Food on 2022-01-02.

In [40]:
display_expense()

Food:
	2023-03-18: ['$10', 10, 100, 100, 100, 100]
	2022-01-01: [10.5]
	2022-01-02: [8.75]
Transportation:
	2022-01-01: [5.0]

In [41]:
remove_expense("Food","2023-03-18",0)

Removed expense of $10 from Food category on 2023-03-18.

In [42]:
display_expense()

Food:
	2023-03-18: [10, 100, 100, 100, 100]
	2022-01-01: [10.5]
	2022-01-02: [8.75]
Transportation:
	2022-01-01: [5.0]